<%= simple_form_for(@email_address, :html => {:class => 'form-inline' }) do |f| %>
<div class="input-prepend">    
    <%= f.input :email, :label => false, :input_html => {:placeholder => "Your email here", :style => "font-size:25px; height:25px; padding-top:15px; padding-left:10px; width: 413px;"} %>
	<%= f.button :submit, "Send" %>
</div>	
<% end %>
