<% provide(:title, 'Codex App') %>
    <div class="row">
        <div class="feature span12">
            <h2 class="motto">Tear up the Notebook with <strong>Codex App</strong>.</h2>
            <h3 class="subheader">The smart notebook for your iPad.</h3>
			<%= image_tag("pics/feature.png", :id => "feature-screenshot", :alt => "screenshot") %>
        </div>
    </div>
    <div class="row">
        <div class="12 graded center">            
           <h3>Enter your email to get notified when we launch.</h3>
			<%= render 'form' %>
           <p>We wont spam you, and we won't share your email address with anyone.</p>
        </div>
	</div>
	
<!--
    <div class="row">
        <div class="span12 graded center">
            <p>Coming soon...</p>
        </div>
    </div>
-->