<div class="hero-unit" style="text-align:center; background-image: url(./images/moleskine_01.jpg);">
	<h1 style="font-size: 3em;">A Smarter Notebook for Your iPad</h2>
	<br />
	<p>What if you didn't have to carry your notebooks and your iPad all the time?</p>

	<p>What if there was an app that let your organize and search all your notes?</p>

	<p>An app that let you make detailed notes and sketches - with no need for a stylus.</p>

	<p>An app as simple to use, as paper and pen.</p>

	<p>Would you be interested in an app like that?</p>


	<br />

	<p>Sign up here to be one of the first to know when it’s ready.</p>

	<%= render 'form' %>

	<p>We will never send you spam, or pass on your email address to anyone else.</p>
</div>
