<% provide(:title, 'Codex App - Thanks!') %>
<div class="container">
    <h2>Thanks!</h2>
    <div class="row">
        <div class="span12 box">
            <article class="span10 offset1" style="text-align:center;">
				<h3 style="text-align:center;">We'll let you know when <strong>Codex App</strong> is ready.</h3>


				<div style="text-align: left;">
					<span>
						<%= render 'twitterShare' %>
					</span>	
					<span>
						<%= render 'facebookLike' %>
					</spav>
				</div>
										
            </article>
        </div>
    </div>
</div>


<hr />