<% provide(:title, 'Codex App - Thanks!') %>
<div class="container">
    <h2>Thanks!</h2>
    <div class="row">
        <div class="span12 box">
            <article class="span10 offset1">
			<p>We'll let you know when <strong>Codex App</strong> is ready.</p>
			<p>You can also follow us on Twitter to get all the latest news and developments.</p>
            </article>
        </div>
    </div>
</div>


<hr />