<div class="container  graded">
	<div class="row footer">
	    <div class="span12">
	        <ul class="links">
				<li><a href="http://twitter.com/codexapp" target="_blank"><%= image_tag("icons/twitter.png", :alt => "twitter")%></a></li>
				<li><a href="#"><%= image_tag("icons/facebook.png", :alt => "facebook")%></a></li>
	        </ul>

		    <nav class="navbar">
		        <div class="navbar-inner">
		            <div class="container">
		                    <ul class="nav">
		                        <li><a href="http://logiccolony.com" target="_blank">Logic Colony</a></li>
		                    </ul>
		            </div>
		        </div>
		    </nav>

	    </div>
	</div>
</div>