<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="padding-bottom: 10px;">
      <%= link_to "Codex App", '#', id: "logo" %>
    </div>
  </div>
</header>